[submodule "lib/nwebdav"]
	path = lib/nwebdav
	url = https://github.com/securefolderfs-community/nwebdav.git
[submodule "lib/Tmds.Fuse"]
	path = lib/Tmds.Fuse
	url = https://github.com/securefolderfs-community/Tmds.Fuse
[submodule "lib/FuseSharp"]
	path = lib/FuseSharp
	url = git@github.com:securefolderfs-community/FuseSharp.git
