<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EXAppExtensionAttributes</key>
	<dict>
		<key>EXExtensionPointIdentifier</key>
		<string>com.apple.fskit.fsmodule</string>
		<key>FSActivateOptionSyntax</key>
		<dict>
			<key>shortOptions</key>
			<string>g:m:o:u:</string>
		</dict>
		<key>FSCheckOptionSyntax</key>
		<dict>
			<key>shortOptions</key>
			<string>nqy</string>
		</dict>
		<key>FSFormatOptionSyntax</key>
		<dict>
			<key>shortOptions</key>
			<string>v</string>
		</dict>
		<key>FSMediaTypes</key>
		<dict/>
		<key>FSPersonalities</key>
		<dict>
			<key>SecureFolderFS_Core_FSKit_ExtensionPersonality</key>
			<dict>
				<key>FSName</key>
				<string>SecureFolderFS_Core_FSKit_ExtensionName</string>
				<key>FSfileObjectsAreCaseSensitive</key>
				<false/>
			</dict>
		</dict>
		<key>FSRequiresSecurityScopedPathURLResources</key>
		<false/>
		<key>FSShortName</key>
		<string>SecureFolderFS_Core_FSKit_Extensionshortname</string>
		<key>FSSupportsBlockResources</key>
		<false/>
		<key>FSSupportsGenericURLResources</key>
		<false/>
		<key>FSSupportsPathURLs</key>
		<false/>
		<key>FSSupportsServerURLs</key>
		<false/>
	</dict>
</dict>
</plist>
